.Header {
    display: flex;
    margin: 0 auto;
    padding-top: 1%;
    width: 78%;
    gap: 4%;
}

.Header > div {
    margin-top: 2%;
    width: 100%;
}

.Header > a {
    display: flex;
    text-decoration: none;
    color: #D1D7E0;
    align-items: center;
}

.nav-links {
    display: flex;
    gap: 5%;
}

.Header > a:nth-of-type(1) {
    font-family: "Roboto-Bold", sans-serif;
    font-size: 48pt;
    font-style: italic;
    margin-right: 10%;
    padding-left: 7%;
}

.Header > div> a:not(a:nth-of-type(3)) {
    text-decoration: none;
    color: #D1D7E0;
    background-color: #4C495D;
    text-align: center;
    border-radius: 60px;
    padding: 0 2%;
    font-family: "Roboto-Regular", sans-serif;
    font-size: 17pt;
    transition: box-shadow 0.1s ease-in-out;
    height: 50px;
}

.Header > div > a:nth-of-type(3) {
    text-decoration: none;
    color: #B27AFC;
    background-color: #4C495D;
    text-align: center;
    border-radius: 60px;
    padding: 0 2%;
    font-family: "Roboto-Regular", sans-serif;
    font-size: 17pt;
    box-shadow: 10px 5px 10px 0 #9747FF;
    height: 50px;
    pointer-events: none;
}

.Header > div> a:not(a:nth-of-type(3)):hover {
    color: #B27AFC;
}

.Header > div > a:not(a:nth-of-type(3)):active {
    box-shadow: 10px 5px 10px 0 #9747FF;
}

footer {
    display: flex;
    margin-top: 1%;
}

footer > div {
    display: flex;
    justify-content: space-between;
}

footer > div > div:last-child {
    margin-right: 9%;
}

footer > div:nth-of-type(1) {
    margin-left: 6%;
    margin-right: 3%;
}

footer > div > div:nth-of-type(2) {
    margin-right: 3%;
}

footer > div:nth-of-type(1) {
    color: #D1D7E0;
    font-family: "Roboto-Bold", sans-serif;
    font-size: 30pt;
}

footer > div > div:nth-of-type(2) {
    width: 48%;
}

footer > div > div:nth-of-type(3) {
    width: 52%;
    margin-left: 2%;
}

footer > div > div:nth-of-type(1) > a {
    text-decoration: none;
    color: #D1D7E0;
    font-size: 16pt;
    font-family: "Roboto-Regular", sans-serif;
}

footer > div > div:nth-of-type(1) > p {
    color: #D1D7E0;
    font-family: "Roboto-Regular", sans-serif;
    font-size: 20pt;
    text-align: center;
}

footer > div > div:nth-of-type(1) > a:nth-of-type(2) {
    padding-left: 9%;
}

footer > DIV > div:nth-of-type(2) > a {
    text-decoration: none;
    color: #D1D7E0;
    font-size: 16pt;
    font-family: "Roboto-Regular", sans-serif;
}

footer > div > div:nth-of-type(1) > a:hover {
    color: #B27AFC;
}

footer > div > div:nth-of-type(1) > a:active {
    text-decoration: underline;
}

footer > div > div:nth-of-type(2) > a:hover {
    color: #B27AFC;
}

footer > div > div:nth-of-type(2) > a:active {
    text-decoration: underline;
}

footer > div > div:nth-of-type(2) > p {
    color: #D1D7E0;
    font-family: "Roboto-Regular", sans-serif;
    font-size: 20pt;
    text-align: center;
}

footer > div:nth-of-type(2) > a:not(a:nth-of-type(1)) {
    padding-left: 2%;
}
